<div class="row">
    <div class="col-md-8">
        <h2>Filtered by Tag: {{activeFilter || 'None'}} | <a ng-href="#/list">Clear Filter</a></h2>
        <ul>
            <li ng-repeat="bookmark in bookmarks | filter : activeFilter">
                <a class="btn btn-xs btn-warning" ng-href="#/edit/{{$index}}">Edit</a>
                <button type="button" class="btn btn-xs btn-danger" ng-click="deleteBookmark(bookmark)">Delete</button>
                {{bookmark.title}}(<a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>) | {{bookmark.tags.join()}}
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Bookmark's Tags</h4>
        <bookmarks-tags></bookmarks-tags>
    </div>
</div>


<div class="row">
    <div class="form-group">
        <a class="btn btn-primary" ng-href="#/edit">Add new</a>
    </div>
</div>
